@using OnlineShop.Models;
@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}

<br/><br/>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>  Add New Product</a>
    </div>
</div>

<form method="post">
    <div class="row">
        <div class="col-3">
            <input type="number" class="form-control" name="lowAmount" />
        </div>
        <div class="col-3">
            <input type="number" class="form-control" name="largeAmount" />
        </div>
        <div class="col-3">
            <input type="submit" value="search" class="btn btn-success" />
        </div>
        <div class="col-3"></div>

    </div>

</form>

<br/>
<div>
    <table class="table table-striped border" id="myTable">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(expression:c=>c.Name)
            </th>
            <th>
                @Html.DisplayNameFor(expression:c=>c.Price)
            </th>
            <th>
                @Html.DisplayNameFor(expression:c=>c.ProductColor)
            </th>
            <th>
                @Html.DisplayNameFor(expression:c=>c.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(expression:c=>c.ProductTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(expression:c=>c.SpecialTagId)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.ProductColor</td>
                <td>@item.IsAvailable</td>
                <td>@item.ProductTypes.ProductType</td>
                <td>@item.SpecialTag.TagName</td>
                <td>
                    @*<partial name="_ButtonPartial" model="@item.Id"/>*@
                    <a asp-action="Edit" asp-controller="Product" class="btn btn-primary" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" asp-controller="Product" class="btn btn-success" asp-route-id="@item.Id"><i class="fas fa-list"></i></a>
                    <a asp-action="Delete" asp-controller="Product" class="btn btn-danger" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }

    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]'
            if(save!=''){
                alertify.success(save);
            }
        })
    </script>
}

